# vi: set ft=ruby :

Vagrant.require_version ">= 1.6.1"
Vagrant.configure('2') do |config|
  config.vm.box = 'vm'

  config.vm.provider 'virtualbox' do |v|
    v.name = 'vm'
  end

  # forward guest port to access your web application
  #config.vm.network :forwarded_port, host: 8080, guest: 8080

  config.ssh.forward_agent    = true
  config.ssh.private_key_path = 'packer/keys/vm'

  # share a folder with your host via nfs
  #config.vm.synced_folder "git", "/home/vagrant/dir_to_share", :nfs => true

  config.vm.provision :chef_solo do |chef|
    chef.cookbooks_path = %w(cookbooks/default cookbooks/custom)
    chef.custom_config_path = 'cookbooks/solo_config.rb'

    chef.add_recipe('helper::setup')

    # Dev Tools
    #chef.add_recipe('git')
    #chef.add_recipe('zsh')
    #chef.add_recipe('vcprompt')
    #chef.add_recipe('vim')
    #chef.add_recipe('tmux')
    #chef.add_recipe('ack')
    #chef.add_recipe('chruby')
    #chef.add_recipe('ruby_build')

    # Languages
    #chef.add_recipe('java')
    #chef.add_recipe('clojure')
    #chef.add_recipe('node')
    #chef.add_recipe('coffee_script') # requires node recipe
    #chef.add_recipe('go')
    #chef.add_recipe('ruby')

    # Datastores
    #chef.add_recipe('memcached')
    #chef.add_recipe('mysql')
    #chef.add_recipe('postgres')
    #chef.add_recipe('redis')
    #chef.add_recipe('riak')
    #chef.add_recipe('sqlite')

    # Search Engines
    #chef.add_recipe('elasticsearch')

    # Messaging System
    #chef.add_recipe('rabbitmq')

    # Crypto
    #chef.add_recipe('mcrypt')

    # Headless browsers
    #chef.add_recipe('phantomjs')

    chef.add_recipe('helper::cleanup')
  end
end
