{
  "min_packer_version": "0.6.0",
  "variables": {
    "boot_command_prefix": "<enter><wait><f6><esc><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
    "cpu_cores": "4",
    "disk_size": "30210",
    "memory": "8192",
    "boot_wait": "5s",
    "headless": "true",
    "http_directory": "packer/preseed",
    "iso_checksum": "b8b172cbdf04f5ff8adc8c2c1b4007ccf66f00fc6a324a6da6eba67de71746f6",
    "iso_checksum_type": "sha256",
    "iso_url": "http://releases.ubuntu.com/xenial/ubuntu-16.04-server-amd64.iso",
    "ssh_fullname": "vagrant",
    "ssh_password": "vagrant",
    "ssh_port": "22",
    "ssh_public_key": "",
    "ssh_username": "vagrant",
    "ssh_wait_timeout": "20m",
    "vm_name": "vm"
  },
  "builders": [
    {
      "type": "virtualbox-iso",
      "boot_command": [
        "{{user `boot_command_prefix`}}",
        "/install/vmlinuz noapic preseed/url=http://{{.HTTPIP}}:{{.HTTPPort}}/preseed.cfg ",
        "debian-installer=en_US auto locale=en_US kbd-chooser/method=us ",
        "hostname={{.Name}} ",
        "fb=false debconf/frontend=noninteractive ",
        "keyboard-configuration/modelcode=SKIP ",
        "keyboard-configuration/layout=USA ",
        "keyboard-configuration/variant=USA ",
        "console-setup/ask_detect=false ",
        "initrd=/install/initrd.gz ",
        "passwd/user-fullname={{user `ssh_fullname`}} ",
        "passwd/user-password={{user `ssh_password`}} ",
        "passwd/user-password-again={{user `ssh_password`}} ",
        "passwd/username={{user `ssh_username`}} ",
        "-- <enter>"
      ],
      "boot_wait": "{{user `boot_wait`}}",
      "disk_size": "{{user `disk_size`}}",
      "guest_os_type": "Ubuntu_64",
      "headless": "{{user `headless`}}",
      "http_directory": "{{user `http_directory`}}",
      "iso_checksum": "{{user `iso_checksum`}}",
      "iso_checksum_type": "{{user `iso_checksum_type`}}",
      "iso_url": "{{user `iso_url`}}",
      "shutdown_command": "echo '{{user `ssh_password`}}' | sudo -S shutdown -P now",
      "ssh_password": "{{user `ssh_password`}}",
      "ssh_port": "{{user `ssh_port`}}",
      "ssh_username": "{{user `ssh_username`}}",
      "ssh_wait_timeout": "{{user `ssh_wait_timeout`}}",
      "vboxmanage": [
        [
          "modifyvm",
          "{{.Name}}",
          "--memory",
          "{{user `memory`}}"
        ],
        [
          "modifyvm",
          "{{.Name}}",
          "--cpus",
          "{{user `cpu_cores`}}"
        ]
      ],
      "vm_name": "{{user `vm_name`}}"
    },
    {
      "type": "vmware-iso",
      "boot_command": [
        "{{user `boot_command_prefix`}}",
        "/install/vmlinuz noapic preseed/url=http://{{.HTTPIP}}:{{.HTTPPort}}/preseed.cfg ",
        "debian-installer=en_US auto locale=en_US kbd-chooser/method=us ",
        "hostname={{.Name}} ",
        "fb=false debconf/frontend=noninteractive ",
        "keyboard-configuration/modelcode=SKIP ",
        "keyboard-configuration/layout=USA ",
        "keyboard-configuration/variant=USA ",
        "console-setup/ask_detect=false ",
        "initrd=/install/initrd.gz ",
        "passwd/user-fullname={{user `ssh_fullname`}} ",
        "passwd/user-password={{user `ssh_password`}} ",
        "passwd/user-password-again={{user `ssh_password`}} ",
        "passwd/username={{user `ssh_username`}} ",
        "-- <enter>"
      ],
      "boot_wait": "{{user `boot_wait`}}",
      "disk_size": "{{user `disk_size`}}",
      "disk_type_id": "2",
      "guest_os_type": "ubuntu-64",
      "headless": "{{user `headless`}}",
      "http_directory": "{{user `http_directory`}}",
      "iso_checksum": "{{user `iso_checksum`}}",
      "iso_checksum_type": "{{user `iso_checksum_type`}}",
      "iso_url": "{{user `iso_url`}}",
      "shutdown_command": "echo '{{user `ssh_password`}}' | sudo -S shutdown -P now",
      "ssh_password": "{{user `ssh_password`}}",
      "ssh_port": "{{user `ssh_port`}}",
      "ssh_username": "{{user `ssh_username`}}",
      "ssh_wait_timeout": "{{user `ssh_wait_timeout`}}",
      "tools_upload_flavor": "linux",
      "tools_upload_path": "VMWareTools.iso",
      "vm_name": "{{user `vm_name`}}",
      "vmx_data": {
        "cpuid.coresPerSocket": "1",
        "memsize": "{{user `memory`}}",
        "numvcpus": "{{user `cpu_cores`}}"
      }
    }
  ],
  "provisioners": [
    {
      "type": "shell",
      "override": {
        "virtualbox-iso": {
          "execute_command": "echo '{{user `ssh_password`}}' | {{.Vars}} sudo -E -S bash '{{.Path}}'"
        },
        "vmware-iso": {
          "execute_command": "echo '{{user `ssh_password`}}' | {{.Vars}} sudo -E -S bash '{{.Path}}'"
        }
      },
      "environment_vars": [
        "SSH_USERNAME={{user `ssh_username`}}",
        "SSH_PUBLIC_KEY={{user `ssh_public_key`}}"
      ],
      "scripts": [
        "packer/provisioning/upgrade_packages.sh",
        "packer/provisioning/virtualbox.sh",
        "packer/provisioning/vmware.sh",
        "packer/provisioning/sudoers.sh",
        "packer/provisioning/ssh.sh",
        "packer/provisioning/networking_fix.sh",
        "packer/provisioning/cleanup.sh"
      ]
    }
  ],
  "post-processors": [
    {
      "type": "vagrant",
      "output": "vm-{{.Provider}}.box",
      "vagrantfile_template": "packer/post_processing/Vagrantfile.template"
    }
  ]
}
