{
  "min_packer_version": "0.6.0",
  "variables": {
    "cpu_cores": 4,
    "disk_size": 20140,
    "memory": 4096,
    "boot_wait": "5s",
    "headless": true,
    "http_directory": "packer/preseed",
    "iso_checksum": "ababb88a492e08759fddcf4f05e5ccc58ec9d47fa37550d63931d0a5fa4f7388",
    "iso_checksum_type": "sha256",
    "iso_url": "http://releases.ubuntu.com/trusty/ubuntu-14.04-server-amd64.iso",
    "shutdown_command": "echo 'vagrant' | sudo -S shutdown -P now",
    "ssh_password": "vagrant",
    "ssh_port": 22,
    "ssh_public_key": "",
    "ssh_username": "vagrant",
    "ssh_wait_timeout": "20m",
    "sudo": "echo 'vagrant'|sudo -S sh",
    "vm_name": "vm"
  },
  "builders": [
    {
      "type": "virtualbox-iso",
      "boot_command": [
        "<esc><esc><enter><wait>",
        "/install/vmlinuz noapic preseed/url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg ",
        "debian-installer=en_US auto locale=en_US kbd-chooser/method=us ",
        "hostname={{ .Name }} ",
        "fb=false debconf/frontend=noninteractive ",
        "keyboard-configuration/modelcode=SKIP keyboard-configuration/layout=USA keyboard-configuration/variant=USA console-setup/ask_detect=false ",
        "initrd=/install/initrd.gz -- <enter>"
      ],
      "boot_wait": "{{user `boot_wait`}}",
      "disk_size": "{{user `disk_size`}}",
      "guest_os_type": "Ubuntu_64",
      "headless": "{{user `headless`}}",
      "http_directory": "{{ user `http_directory`}}",
      "iso_checksum": "{{user `iso_checksum`}}",
      "iso_checksum_type": "{{user `iso_checksum_type`}}",
      "iso_url": "{{user `iso_url`}}",
      "shutdown_command": "{{user `shutdown_command`}}",
      "ssh_password": "{{user `ssh_password`}}",
      "ssh_port": "{{user `ssh_port`}}",
      "ssh_username": "{{user `ssh_username`}}",
      "ssh_wait_timeout": "{{user `ssh_wait_timeout`}}",
      "vboxmanage": [
        [
          "modifyvm",
          "{{.Name}}",
          "--memory",
          "{{user `memory`}}"
        ],
        [
          "modifyvm",
          "{{.Name}}",
          "--cpus",
          "{{user `cpu_cores`}}"
        ]
      ],
      "vm_name": "{{user `vm_name`}}"
    },
    {
      "type": "vmware-iso",
      "boot_command": [
        "<esc><esc><enter><wait>",
        "/install/vmlinuz noapic preseed/url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg ",
        "debian-installer=en_US auto locale=en_US kbd-chooser/method=us ",
        "hostname={{ .Name }} ",
        "fb=false debconf/frontend=noninteractive ",
        "keyboard-configuration/modelcode=SKIP keyboard-configuration/layout=USA keyboard-configuration/variant=USA console-setup/ask_detect=false ",
        "initrd=/install/initrd.gz -- <enter>"
      ],
      "boot_wait": "{{user `boot_wait`}}",
      "disk_size": "{{user `disk_size`}}",
      "disk_type_id": "2",
      "guest_os_type": "ubuntu-64",
      "headless": "{{user `headless`}}",
      "http_directory": "{{user `http_directory`}}",
      "iso_checksum": "{{user `iso_checksum`}}",
      "iso_checksum_type": "{{user `iso_checksum_type`}}",
      "iso_url": "{{user `iso_url`}}",
      "shutdown_command": "{{user `shutdown_command`}}",
      "ssh_password": "{{user `ssh_password`}}",
      "ssh_port": "{{user `ssh_port`}}",
      "ssh_username": "{{user `ssh_username`}}",
      "ssh_wait_timeout": "{{user `ssh_wait_timeout`}}",
      "tools_upload_flavor": "linux",
      "tools_upload_path": "VMWareTools.iso",
      "vm_name": "{{user `vm_name`}}",
      "vmx_data": {
        "cpuid.coresPerSocket": "1",
        "memsize": "{{user `memory`}}",
        "numvcpus": "{{user `cpu_cores`}}"
      }
    }
  ],
  "provisioners": [
    {
      "type": "shell",
      "override": {
        "virtualbox-iso": {
          "execute_command": "{{user `sudo`}} '{{.Path}}'"
        },
        "vmware-iso": {
          "execute_command": "{{user `sudo`}} '{{.Path}}'"
        }
      },
      "scripts": ["packer/provisioning/postinstall.sh"]
    },
    {
      "type": "shell",
      "override": {
        "virtualbox-iso": {
          "execute_command": "{{user `sudo`}} '{{.Path}}'"
        },
        "vmware-iso": {
          "execute_command": "{{user `sudo`}} '{{.Path}}'"
        }
      },
      "inline": [
        "echo '{{user `ssh_public_key`}}' > /home/vagrant/.ssh/authorized_keys",
        "chmod 600 /home/vagrant/.ssh/authorized_keys",
        "chown -R vagrant /home/vagrant/.ssh",
        "sed -i -e 's/#PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config",
        "sudo service ssh restart"
      ]
    }
  ],
  "post-processors": [
    {
      "type": "vagrant",
      "output": "vm-{{.Provider}}.box",
      "vagrantfile_template": "packer/post_processing/Vagrantfile.template"
    }
  ]
}

